body {
    background-color: rgba(128, 121, 212, 0.2);
    transition: 0.5s;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 40px);
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 100px 0;
}

#MSGinsc {
    display: none;
    text-align: center;
}

main form input:not([type="submit"]), main form textarea,.sexe {
    padding: 5px 10px;
    border: 2px solid #EAEAEA !important;
    border-radius: 5px !important;
}

main form {
    flex-direction: column;
}

main form > div {
    display: flex;
    flex-direction: column;
}

.contentForm {
    padding: 30px 20px;
    border-radius: 10px;
    width: 100%;
}

.contentsexe, .sexe {
    width: 100% !important;
    justify-content: space-around !important
}

.contentForm input:not([type="submit"]), .sexe, textarea, #autorisation_parentale {
    background-color: #F9F9F9 !important;
}

h1 {
    font-size: 55px;
    line-height: 120%;
    width: calc(100% - 40px) ;
    text-align: center;
    margin: 50px 0;
}

.formPart div {
    display: none;
}

.formPart div:nth-of-type(-n+3) {
    display: flex;
}

@media screen and (max-width: 480px) {
    h1 {
        text-align: left;
        font-size: 35px !important;
    }
}