
.container-hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}


@media (max-width: 900px) {

}
.copy {
    position: relative;
    z-index: 3;
    top: -10%;
}

.spline {
    position: absolute;
    top: 20vh;
    width: 50%;
    height: 80vh;
    z-index: 2;
}

@media (max-width: 1200px) {
    .spline {
        width: 100%;
        transform: scale(0.5);
    }
}

.hero-section {
    width: 100%;
    height: 90vh;
    background: #8079D4;
    border-radius: 1em 1em 0 0;
    padding: 2em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-size: 10vw;
}

.row-1,
.row-3 {
    /*font-family: "Arial";*/
}

.row-2 {
    /*font-family: "Latitude";*/
    font-style: italic;

}

.row-1 {
    align-items: flex-start;
}

.row-1 .p {
    text-transform: uppercase;
    padding: 0 2em;
    font-size: 24px;
}

.row-2 {
    padding-left: 5em;
}

.row-3 {
    padding-left: 4em;
}

.span {
    width: 300px;
    font-size: 14px;
}

@media (max-width: 900px) {
    .row {
        flex-direction: column;
    }

    .row-1 {
        flex-direction: column-reverse;
    }

    .h1 {
        font-size: 13vw;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content span {
    /*font-family: "Latitude";*/
    font-style: italic;
}

.text {
    margin-bottom: 1em;
}

@media screen and (max-width: 400px) {
    .h1 {
        font-size: 10vw;
    }
    .span {
        margin-top: 30%;
        margin-right: 10%;
        width: 100%;
    }

    .row-1 {
        align-items: center;
        justify-content: center;
    }

    .spline {
        display: none;
    }
}