@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F9F9F9;
}

.button {
    font-size: 14px;
    padding: 3px 15px;
    border-radius: 20px;
    background-color: #8079D4;
    border: 1px solid #8079D4;
    color: #F9F9F9;
    transition: 0.3s;
    cursor: pointer;
}

.button.secondary {
    background-color: #F9F9F9;
    border: 1px solid #8079D4;
    color: #8079D4;
}

.button:hover, .button.secondary:hover {
    background-color: #4B4FA4;
    border: 1px solid #4B4FA4;
    color: #F9F9F9;
}

h1, h2, h3, h4, p, a, label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
}

h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 90px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}


h4 {
    font-size: 24px;
    font-weight: 600;
}

p, a {
    font-size: 20px;
    font-weight: 500;
}