.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    pointer-events: none;
    z-index: 9999 !important;
}


.loader {
    position: relative;
    top: 40%;
    left: 50%;
    width: 210px;
    height: 210px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}

.semi-circle {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    transform: rotate(180deg);
}

.top-left {
    border-top-left-radius: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #4B4FA4;

}

.top-right {
    border-top-right-radius: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #8079D4;
}

.bottom-left {
    border-bottom-left-radius: 100px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #8079D4;
}

.bottom-right {
    border-bottom-right-radius: 100px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #4B4FA4;
}

.preloader-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entete {
    position: relative;
    width: max-content;
    height: max-content;
}

.site-revealer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.site-revealer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 110%;
    background: #fff;
    top: 80px;
}
