.container {
    width: 100%;
    height: 89px;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    top: 0;
}

.navbar {
    top: 0;
    position: fixed;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
}

#menu-toggle-btn {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
}

span {
    height: 2px;
    background: #000;
    width: 24px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transition: all 0.3s;
}

span::before {
    content: " ";
    position: absolute;
    display: inline-block;
    height: 2px;
    background: #000;
    transform: translateY(-4px);
    width: 24px;
    transition: all 0.3s;
}

span::before {
    top: -2px;
}

.active span {
    transform: rotate(45deg);
    background: #fff;
}

.active span::before {
    top: unset;
    transform: rotate(-90deg);
    background: #fff;
}

.active:hover span::before {
    top: unset;
}

#nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.nav-responsive {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-link {
    position: relative;
}

.nav-link a {
    position: relative;
    top: 60px;
    text-decoration: none;
    color: #fff;
    font-size: 60px;
    font-weight: lighter;
}

.nav-item-wrapper:after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 500px;
    height: 70px;
    background: #000;
    margin: 0 auto;
    transition: 1s;
}

.nav-link a img {
    margin-right: 10px;
}

@media screen and (max-width: 687px) {
    .nav-link a {
        font-size: 45px;
    }

    .nav-link a img {
        width: 30px;
    }

}

@media screen and (max-width: 585px) {
    .nav-link a {
        font-size: 40px;
    }

    .nav-link a img {
        width: 30px;
    }

}

@media screen and (max-width: 452px) {
    .nav-link a {
        font-size: 30px;
    }

    .nav-link a img {
        width: 30px;
    }
}


@media screen and (max-width: 376px) {
    .nav-link a {
        font-size: 27px;
    }

    .nav-link a img {
        width: 27px;
    }

}

@media screen and (max-width: 281px) {
    .nav-link a {
        font-size: 23px;
    }

    .nav-link a img {
        width: 23px;
    }

}